################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BasicApi/FileContentIndex/8efba20f-7ce2-4ccf-9334-8a74caeca5f6.vsidx
/.vs/BasicApi/FileContentIndex/134c3616-0269-4f8a-a1b7-cb946384365d.vsidx
